# Architecture
BR2_arm=y
BR2_arm926t=y

# System
BR2_SYSTEM_DHCP="eth0"
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,STMicroelectronics,linux)v6.1-stm32mp-r2.tar.gz"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/qemu/arm-versatile/linux.config"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_ZEGARSON_PATH)/board/common/linux-enable-rauc.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="versatile-pb"
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# Filesystem settings
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y

# Root Filesystem Overlay and Post-Build Scripts
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_ZEGARSON_PATH)/board/qemu/arm-versatile/overlay/"
# BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_ZEGARSON_PATH)/board/common/post-build.sh $(BR2_EXTERNAL_ZEGARSON_PATH)/board/zegarson/post-build.sh"
# BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_ZEGARSON_PATH)/board/common/post-image.sh $(BR2_EXTERNAL_ZEGARSON_PATH)/board/common/generate-rauc-bundle.sh"
# BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_EXTERNAL_ZEGARSON_PATH)/board/zegarson/genimage.cfg"

# BusyBox
BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_ZEGARSON_PATH)/board/common/busybox-enable-partlabel.config"

# RAUC (Robust Auto-Update Controller)
BR2_PACKAGE_RAUC=y
BR2_PACKAGE_RAUC_DBUS=y
BR2_PACKAGE_RAUC_GPT=y
BR2_PACKAGE_RAUC_NETWORK=y
BR2_PACKAGE_RAUC_STREAMING=y
BR2_PACKAGE_RAUC_JSON=y

# Miscellaneous Packages and Host Tools
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_ZEGARSON_PATH)/board/common/patches/"
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_HOST_BMAP_TOOLS=y
BR2_PACKAGE_HOST_GENEXT2FS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_RAUC=y

# host-qemu for gitlab testing
BR2_PACKAGE_HOST_QEMU=y
BR2_PACKAGE_HOST_QEMU_SYSTEM_MODE=y

# Build settings
BR2_PER_PACKAGE_DIRECTORIES=y
BR2_CCACHE=y